<div class="list">
  <mat-card>
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
      <mat-card-title class="m0">Liste des chats</mat-card-title>
      <button mat-raised-button [style.background]="'#7451EB'" color="primary" [routerLink]="['/articles/create']">
  Nouveau chat
</button>
    </mat-card-header>
    <div class="items mt2" fxLayout="row wrap" fxLayout.lt-md="column">
      <mat-card class="item" *ngFor="let chat of chats" fxFlex>
        <mat-card-header fxLayout="column">
        <a [routerLink]="['detail',chat.id]">
          <mat-card-title>{{ chat.subject }}</mat-card-title>
        </a>
          <p>Date : {{ chat.created_at | date: 'dd/MM/yyyy' }}</p>
        </mat-card-header>
      </mat-card>
    </div>
  </mat-card>
</div>
